body{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    justify-content: space-between;
    
}

.menu-lateral {
    display: grid;

}

.div-menu-lateral {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.tabla {
   margin-top: 20px; 
}


.cabezera-tabla {
    background-color: burlywood;
}

.cuerpo-tabla {
    background-color:darkseagreen
}

.añadir-nuevo {
    margin-top: 20px; 
}